@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TeX-Regular';
    src: local('TeX-Regular'), url(/static/fonts/TeX/texgyreheros-regular.otf);
}

@font-face {
    font-family: 'VT323-Regular';
    src: local('VT323-Regular'), url(/static/fonts/vt323/VT323-Regular.ttf);
}

body {
    background-color: #FF7A00;
}

.vertical-r {
    writing-mode: tb-rl;
}

.vertical-l {
    writing-mode: vertical-lr;
}

.hidden-scrollBar::-webkit-scrollbar {
    display: none;
}

.back-white {
    background-color: white;
}
